@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
}

header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:19.52vh;
    position:fixed;
    background-color: white;
    width: 100%;
}

 header ul{
    display:flex;
    justify-content: space-between;
    width: 60%;
}

a{
    color:black;
}

header nav{
    width:65%;
    display: flex;
    justify-content: flex-end;
}

header li{
    width:15%;
    text-align:center;
    font-weight: 300;
}

header li:hover{
    font-weight: bold;
}

h1{
    font-size: 2.5rem;
    margin-left:0.5vw;
}

.container-hidden{
    height: 19.52vh;
    width: 100%;
}

.container-main{
    background-image:url(./assets/laranja-azul.png) ;
    width:100%;
    border:solid;
    height:88vh;
    background-repeat: no-repeat;
    background-size:cover;
    display:flex;
}

.boxText{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5.5vw;
    margin-top: 35px;
}




.container-main h2{
    color: aliceblue;
    font-size: 3.65rem;
}


button{
    background-color: transparent;
    font-size: 1.5rem;
    width:50%;
    text-align: left;
    border:none;
    height: 20%;
    color: aliceblue;
    font-weight: 300;
}

.container-img{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    width: 95%;
    margin-left:3vw ;
}

.main-img{
    width:290px;
    height:290px;
    margin-top: 30px;
}

.main-img:hover{
    transform: scale(1.1);
    transition: 1s;
}

footer{
    justify-content: space-around;
    display: flex;
    height: 250px;

}

.logos{
    width: 40%;
    text-align: center;
}

.logos-img{
    position: relative;
    top:65%;
    margin-left: 5%;
}

.copyright{
    display:flex;
    align-items: flex-end;
    width:55%;
}

.copyrightParagraph{
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 50%;
    font-weight: 600;

}

.copyrightParagraphTwo{
    width: 100%;
    font-size: 0.7rem;
    font-weight: 300;
    display: flex;
    height: 50%;
    align-items: center;
    margin-left: 10px;
}



